<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDSTUDENT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="teacherds.js"></script>
</head>
<body ng-app="teacher" ng-controller="teacherds">
    <div container-fluid>
        <div id="output">
            #add swal
        </div>
        <div>libraryid</div>
        <div>
        <input type="text" class="libraryid" id="libraryid" ng-model="libraryid"></div>
        <div>name</div>
        <div>
        <input type="text" class="name" id="name" ng-model="name">
        </div>
        <div>fathers name</div>
        <div>
        <input type="text" class="fname" id="fname" ng-model="fname">
        </div>
        <div>course</div>
        <div>
        <input type="text" class="course" id="course" ng-model="course">
        </div>
        <div>branch</div>
        <div>
        <input type="text" class="branch" id="branch" ng-model="branch">
        </div>
        <div>section</div>
        <div>
        <input type="text" class="section" id="section" ng-model="section">
        </div>
        <div>contact</div>
        <div>
        <input type="number" class="contact" id="contact" ng-model="contact">
        </div>
        <div>
            email
        </div>
        <div>
        <input type="email" class="email" id="email" ng-model="email">
        </div> 
        <div>
            <button ng-click="reset">reset</button>
            <button ng-click="addstudent()">submit</button>
</body>
</html>